.footer{
    background-color: #171258a7;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
    
    
    
    
    
}

.footer-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    max-width: 1200px;
    
}
/* .footer-cont a{
    
    border: 1px solid
    
} */
/* .a-footer-logo{
    
    
} */

.footer-logo{
    width: 180px;
    padding-top: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer-copyright{
    color: white;
    
    
}
.footer-redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 10px;
    
    
    
}

.footer-redes-container img{
    width: 31px;
    cursor: pointer;
}
.footer-redes-container img:hover{
    filter: drop-shadow(2px 4px 6px black)
}

@media (max-width: 590px){
    .footer-logo{
        width: 110px;
    }
    .footer-copyright{
        font-size: 12px;
    }
    .footer-redes-container{
        flex-wrap: wrap;
    }
    .footer-redes-container img{
        width: 18px;
    }
}

@media (max-width: 400px){

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .footer-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6px;
        gap: 15px;
        
        
    }

    .footer-logo{
        display: none;
    }
    .footer-redes-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        
        
    }
    
}