/* body{
    background: linear-gradient(90deg, #9181fc77 56%, #728ed400 100%); 
    
}    */
.header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
    
    
    
    
}
.header-logo{
    width: 200px;
    height: 25px;
    
    margin-bottom: 12px;
}

.header-logo:hover{
    transform: scale(1.4);
    transition: .55s;
}


.header-ul{
    display: flex;
    
}
.header-ul li{
    padding: 0 10px;
    list-style: none;
    font-size: 20px;
    font-family: 'Anek Latin', sans-serif;
    color: #1C1940;
    cursor: pointer;
}
.header-ul li a{
    list-style: none;
    text-decoration: none;
    color: #1C1940;

    
}
.header-ul li a:hover{
    color: #aea8ea;
}
.header-ul li:hover{
    color: #aea8ea;
    
}
.header-nav{
    display: none;
    cursor: pointer;
    margin-right: 12px;
    
}

.togle-menu{
    background-color: #7a73c4f9;
    position: absolute;
    top: 60px;
    right: 0;
    width: 345px;
    height: 356px;
    display: flex;
    justify-content: center;
    z-index: 100;
    border-radius: 18px 0 0 18px;
    
     
    
}
.togle-menu-ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.togle-menu-ul li {
    padding: 15px;
    font-size: 24px;
    font-family: 'Anek Latin', sans-serif;
    cursor: pointer;
}
.togle-menu-ul li:hover{
    color: white;
}

.togle-menu-ul li a{
    text-decoration: none;
    color: #d1d0db;
}
.togle-menu-ul li a:hover{
    opacity: .6;
}

@media (max-width:961px){
    .header-nav{
        display: block;
    }
    .header-ul{
        display: none;
    }
}

@media (max-width:822px){
    .header-logo{
        
        margin-left: 10px;
        margin-top: 15px;
    }
}