.home-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    margin: 60px auto;
    
    
    

}
.home-container--circle-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
    
}

.home-circle{
    width: 350px;
    height: 350px;
    
    border-radius: 50%;
    margin-bottom: 40px;
    -webkit-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
    box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
}

.home-circle_a{
    text-decoration: none;
    outline: none;
}

.home-container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 7px;
    

}


.home-container-text h2{
    font-size: 54px;
    color: #413970;
    font-weight: 300;
}
.home-container-text h3{
    font-size: 48px;
    font-weight: bold;
    color: #413970;
}
.home-container-text p{
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    
    
    
    
    
}

.home-buttoncv{
    height: 70px;
    width: 209px;
    border: none;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: #9181fca7;
    /* background-image: linear-gradient(to right, #403ac0, #5c2ea9, #692393, #6e1a7e, #6f146b); */
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    


}
.home-buttoncv:hover{
    -webkit-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
    box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.31);
}

.home-buttoncv-img{
    width: 45px;
}


.home-redes-container{
    
    width: 100%;
    position: absolute;
    top: 680px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    
    
    
    
}

.home-redes-container img{
    width: 31px;
    cursor: pointer;
}



@media (max-width: 1114px){
    .home-circle{
        width: 330px;
        height: 330px;
    }
    .home-container-text h2{
        font-size: 32px;
    }
    .home-container-text h3{
        font-size: 29px;
    }
    
    .home-container-text p{
        font-size: 21px;
        margin: 0 auto;
        padding: 0 27px;
        
    }
}

@media (max-width: 822px){
    .home-container{
        
        display: flex;
        flex-direction: column-reverse;
        
        
        
    }
    .redes{
        display: none;
    }


    .home-container--circle-button{
        margin-top: -35px;
        
        
    }
    .home-circle{
    width: 230px;
    height: 230px;
    /* margin-right: 40px;
    margin-left: 20px; */
    
    }
    .home-buttoncv{
        
        margin-top: -25px;
        width: 180px;
    }
    .home-redes-container{
        display: none;
    }


}

@media (max-width:458px){
    .home-container--circle-button{
        flex-direction: column;
        
        
        
    }
    
    
    .home-container-text h2{
        font-size: 28px;
        
    }
    .home-container-text h3{
        font-size: 25px;
        
    }
    .home-container-text p{
        font-size: 14px;
        
    }
}