.container-skills{
    /* background: linear-gradient(360deg, #9181fc77 56%, #728ed400 100%); */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.container-skills h2{
    padding-top: 20px;
    font-family: 'Anek Latin', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #1C1940;
}
.container-skills--img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container-skills--img img{
    padding: 15px;
    
}
.container-skills--img img:nth-child(1) {
    animation:scale-up-horizontal-center .6s;
}
.container-skills--img img:nth-child(2) {
    animation:scale-up-horizontal-center .7s;
}
.container-skills--img img:nth-child(3) {
    animation:scale-up-horizontal-center .8s;
  }
  .container-skills--img img:nth-child(4) {
    animation:scale-up-horizontal-center .9s;
  }
  .container-skills--img img:nth-child(5) {
    animation:scale-up-horizontal-center 1s;
  }
  .container-skills--img img:nth-child(6) {
    animation:scale-up-horizontal-center 1.6s;
  }
  .container-skills--img img:nth-child(7) {
    animation:scale-up-horizontal-center 1.9s;
  }
 


.container-skills--img img:hover{
    opacity: .8;
    transform: translateY(-8px);
    transition: .46s;
}


@keyframes scale-up-horizontal-center{0%{transform:scaleX(.2)}100%{transform:scaleX(1)}}